<div>

  <div class = "container">
  <app-add-task (emitTask)="add($event)"></app-add-task>
  </div>

  <div class="container">

    <div>
      <app-todo-task [tasksList]="tasksList" (emitDone)="markAsDone($event)" (emitRemove)="remove($event)"></app-todo-task>
    </div>

    <div>
      <app-done-task [doneTasksList]="doneTasksList"></app-done-task>
    </div>

  </div>

</div>


<!-- <h3>Angular kurs - property binding</h3>


<p>Ten pracownik to {{profession}}, a jego umiejetnosc to {{skill}}</p>

<label for= "male"> Zawód </label>
<input [(ngModel)]="profession">
<br>
<label for="male">Umiejętności</label>
<input [(ngModel)]="skill"> -->






<!-- <h3 [className]="colorClass">Angular kurs - property binding</h3>

<input [disabled]="isDisabled" (focus)="onFocus()">
<br>
<input [disabled]="isDisabled" (click)="onClick($event)">
<br>
<input [disabled]="isDisabled" (mousemove)="onMouseMove($event)">
<br>
<input [disabled]="isDisabled" (paste)="onPaste()"> {{inputText}}
<br>
<button (click)="change()">Zmien </button> -->


<!-- <img [src]="logoUrl">
<input [maxLength]="maxLength" [value]="inputText">
<button [disabled]="isDisabled" (click) =  "change()"> Dodaj </button> -->


<!-- <h3>Witamy w kursie {{ title | uppercase }} </h3>

<p>Dni tygodnia</p>


<ul>
  <li *ngFor="let day of days">

    {{day}}

  </li>

</ul> -->


<!-- <ng- *ngFor="isVisible">

  <div *ngFor="let day of days">

      <div>{{day}}</div>

  </div>


</ng-container>

<button (click) = "show()">NgIf</button>

<br>

<p>Dni tygodnia - uzycie hidden</p>

<div [hidden] = "isHidden">

  <div *ngFor="let day of days">
    <div>{{day}}</div>
  </div>

</div>
<button (click)="hidden()">Hidden</button> -->





